[Unit]
Description=Memcached Daemon
Before=php-fpm.service
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/memcached
Type=forking
Restart=always
LimitNOFILE=65535
ExecStart=/app/memcached/bin/memcached -d -p $PORT -m $CACHESIZE -c $MAXCONN -u $USER -l $BIND -P $PIDFILE $OPTIONS

[Install]
WantedBy=multi-user.target
