[Unit]
Documentation=man:systemd-sysv-generator(8)
Description=SYSV: NGINX is an HTTP(S) server, HTTP(S) reverse proxy and IMAP/POP3 proxy server
After=network-online.target network.service

[Service]
Type=forking
Restart=always
PIDFile=/app/openresty/nginx/logs/nginx.pid
LimitNOFILE=65535
ExecStartPre=/app/openresty/nginx/sbin/nginx -t
ExecStart=/app/openresty/nginx/sbin/nginx
ExecStop=/bin/kill -s QUIT $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
